@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  font-family: "Kumbh Sans", sans-serif;
}

.main-content {
  margin: 0 auto;
  margin-top: 18.5vh;
  width: 66vw;
  height: 66vh;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: solid 2px blue; */
}

.bread-crumb {
  font-size: smaller;
  font-weight: lighter;
  text-align: start;
  /* border: solid black 1px; */
  width: 94%;
}

.center-main {
  width: 100%;
  height: 100%;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: solid 2px blue; */
}
.product-left-side {
  width: 45%;
  height: 100%;
  /* border: solid black 1px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.product-right-side {
  width: 45%;
  height: 100%;
  /* border: solid black 1px; */
}

.main-picture-holder {
  width: 100%;
  height: 55%;
  border-radius: 20px;
}

.main-picture-holder:hover {
  cursor: zoom-in;
}

.main-picture-holder img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.miniatures-pictures-holder {
  width: 100%;
  height: 20%;
  /* border: black solid 1px; */
  display: flex;
  justify-content: space-between;
}

.miniatures {
  width: 22%;
  height: 77%;
}

.miniatures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  opacity: 50%;
}

.miniatures img:hover {
  opacity: 100%;
}

.right-content {
  width: 100%;
  height: 55%;
  /* border: orange solid 1px; */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 12%;
}

.right-content h2 {
  font-size: 16px;
  color: #fe5234;
}

.right-content h1 {
  font-size: 27px;
}

.right-content h3 {
  font-size: 24px;
}

.right-content p {
  color: rgb(174, 174, 174);
  font-weight: lighter;
  line-height: 1.5;
}

.p-hell {
  /* border: solid black 1px; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.right-content span {
  color: rgb(174, 174, 174);
  text-decoration: line-through;
}

.add-to-cart-button {
  color: white;
  width: 50%;
  border-radius: 12px;
  height: 3rem;
  background-color: #fe5234;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.add-to-cart-button p {
  color: white;
  font-weight: bold;
}

.add-to-cart-button:hover {
  cursor: pointer;
}

.add-to-cart-button:active {
  transform: translateY(2px);
}

.top-title {
  /* border: solid 1px red; */
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.outlet {
  display: flex;
}

.outlet div {
  font-size: 16px;
  color: #fe5234;
  height: 100%;
  width: 10%;
  background-color: rgba(247, 201, 166, 0.722);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-left: 3%;
}
.drop-down {
  height: 3.5rem;
  width: 15%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  justify-content: space-between;
}
.drop-holder {
  height: 55%;
  border: solid 1.5px black;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.drop-content {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-content:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.buttons-display {
  color: white;
  width: 25%;
  border-radius: 12px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}

.buttons-display p {
  color: black;
  font-weight: bold;
}

.button-cart {
  height: 100%;
  width: 33%;
  background-color: #fe5234;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-cart:active {
  transform: translateY(2px);
}

.button-cart:hover {
  cursor: pointer;
}

.sizes {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 100%;
  justify-content: center;
  padding-left: 12%;
}

@media screen and (max-width: 640px) {
  .main-content {
    width: 90%;
    height: 70vh;
    /* border: rgb(170, 32, 32) 2px solid; */
    margin-top: 15.5vh;
    margin-bottom: 15.5vh;
  }
  .bread-crumb {
    display: none;
  }

  .center-main {
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    /* border: solid 1px blue; */
  }
  .product-left-side {
    width: 100%;
    height: 50%;
    /* border: solid black 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
  }
  .product-right-side {
    width: 100%;
    height: 50%;
    /* border: solid rgb(255, 0, 0) 1px; */
  }
  .right-content {
    width: 100%;
    height: 96%;
    /* border: green solid 1px; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 3%;
  }
  .main-picture-holder {
    width: 100%;
    height: 75%;
    border-radius: 20px;
  }
  .miniatures {
    width: 22%;
    height: 90%;
  }

  .miniatures img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 50%;
  }
  .p-hell {
    height: 15%;
    overflow: scroll;
  }
  .buttons-display {
    width: 40%;
  }
  .outlet div {
    font-size: 16px;
    color: #fe5234;
    height: 100%;
    width: 20%;
    background-color: rgba(247, 201, 166, 0.722);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-left: 3%;
  }
  .top-title {
    margin-bottom: 2%;
  }
}
